name: Build

on:
  push:
    branches: [ main ]
    tags:
      - "*"
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'
    - name: Install global dependencies
      run: npm install -g typescript vsce ovsx
    - name: npm-ci
      run: npm ci
    - name: npm-compile
      run: npm run compile
    - name: test
      run: xvfb-run -a npm test
    - name: build binary
      run: vsce package
    - name: Store vsix
      uses: actions/upload-artifact@v3
      with:
        name: binary
        path: snippets-for-asciidoc-*.vsix
    - name: Publish to Open VSX Registry
      uses: HaaLeo/publish-vscode-extension@v1
      if: ${{ github.ref_type == 'tag' }}
      id: publishToOpenVSX
      with:
        pat: ${{ secrets.OPEN_VSX_TOKEN }}
    - name: Publish to Visual Studio Marketplace
      uses: HaaLeo/publish-vscode-extension@v1
      if: ${{ github.ref_type == 'tag' }}
      with:
        pat: ${{ secrets.VSCODE_TOKEN }}
        registryUrl: https://marketplace.visualstudio.com
        extensionFile: ${{ steps.publishToOpenVSX.outputs.vsixPath }}
