name: Build

on:
  push:
    branches: [ main ]
    tags:
      - "*"
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'
    - name: Install global dependencies
      run: npm install -g typescript vsce
    - name: npm-ci
      run: npm ci
    - name: npm-compile
      run: npm run compile
    - name: test
      run: xvfb-run -a npm test
    - name: build binary
      run: vsce package
    - name: Store vsix
      uses: actions/upload-artifact@v2
      with:
        name: binary
        path: snippets-for-asciidoc-*.vsix
    - name: Publish
      run: vsce publish -p {{ secrets.VSCODE_TOKEN }}
